*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 0 2rem;
  max-width: 1950px;
  margin: auto;
  
}
