*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(247, 247, 247);
}

.container {
  padding: 0 2rem;
  max-width: 121.87rem;
  margin: auto;
  height: auto;
}
@media (max-width: 106.25em) {
  .container {
    max-width: 106.25rem;
    padding: 0 2rem;
    margin: auto;
  }
}
@media (max-width: 87.5em) {
  .container {
    max-width: 87.5rem;
    padding: 0 2rem;
    margin: auto;
  }
}
@media (max-width: 75em) {
  .container {
    max-width: 75rem;
    padding: 0 1rem;
    margin: auto;
  }
}
@media (max-width: 68.75em) {
  .container {
    max-width: 68.75rem;
    padding: 0 1rem;
    margin: auto;
  }
}
@media (max-width: 56.25em) {
  .container {
    max-width: 56.25rem;
    padding: 0 1rem;
    margin: auto;
  }
}
@media (max-width: 37.5em) {
  .container {
    max-width: 37.5rem;
    padding: 1rem;
    margin: auto;
  }
}
@media (max-width: 37.5em) {
  .container--contents {
    max-width: 37.5rem;
    padding: 1rem;
    margin: auto;
    display: contents;
  }
}

@media (max-width: 37.5em) {
  .container--phone-size {
    max-width: 34.5rem;
    border-radius: 32px;
    margin: auto;
    overflow: hidden;
  }
}
@media (max-width: 37.5em) {
  .container--phone-size--overflow {
    overflow: visible;
  }
}

.footer__bg {
  background-color: #253353;
  width: 100%;
}
@media (max-width: 106.25em) {
  .footer__bg {
    width: 100%;
  }
}
@media (max-width: 87.5em) {
  .footer__bg {
    width: 100%;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  background-color: #253353;
  font-family: "Outfit", sans-serif;
  color: #fff;
}
@media (max-width: 56.25em) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 37.5em) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
.footer__logo {
  grid-row: span 4/span 4;
  padding-top: 4rem;
}
@media (max-width: 37.5em) {
  .footer__logo {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer__links {
  grid-column: span 3/span 3;
  grid-row: span 4/span 4;
  display: flex;
  flex-direction: row;
}
@media (max-width: 37.5em) {
  .footer__links {
    width: 100%;
    flex-direction: column;
  }
}
.footer__copyright {
  grid-column: span 5/span 3;
  grid-row-start: 5;
}
@media (max-width: 37.5em) {
  .footer__copyright {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer__socials {
  grid-row: span 4/span 4;
  grid-column-start: 5;
  grid-row-start: 1;
  padding-top: 3rem;
}
@media (max-width: 56.25em) {
  .footer__socials {
    padding: 2rem 0;
  }
}
@media (max-width: 37.5em) {
  .footer__socials {
    padding-bottom: 2rem;
  }
}

.logo__container {
  padding-right: 4.1rem;
}
@media (max-width: 37.5em) {
  .logo__container {
    padding: 0;
    width: 50%;
  }
}
.logo__container:not(:last-child) {
  padding-bottom: 13rem;
}
@media (max-width: 56.25em) {
  .logo__container:not(:last-child) {
    padding-bottom: 2rem;
  }
}
@media (max-width: 37.5em) {
  .logo__container:not(:last-child) {
    padding-bottom: 2rem;
  }
}
.logo__container-text {
  font-size: 1rem;
  font-weight: 300;
}

.links__container {
  padding-top: 4rem;
  width: 100%;
}
@media (max-width: 75em) {
  .links__container {
    font-size: 1rem;
    padding-top: 2rem;
  }
}
.links__container-heading {
  font-size: 1.5rem;
  font-weight: 300;
  color: #b8dbf1;
  text-align: left;
}
@media (max-width: 87.5em) {
  .links__container-heading {
    font-size: 1.2rem;
  }
}
@media (max-width: 75em) {
  .links__container-heading {
    font-size: 1rem;
  }
}
.links__container-heading--dark-blue {
  color: #253353;
}
@media (max-width: 87.5em) {
  .links__container-heading--dark-blue {
    font-size: 1.2rem;
  }
}
@media (max-width: 75em) {
  .links__container-heading--dark-blue {
    font-size: 1rem;
  }
}

.container__list {
  list-style: none;
  margin-top: 2rem;
  text-align: left;
}
.container__list-items {
  font-size: 1rem;
  font-weight: 200;
}
@media (max-width: 87.5em) {
  .container__list-items {
    font-size: 0.9rem;
  }
}
@media (max-width: 75em) {
  .container__list-items {
    font-size: 0.8rem;
  }
}
.container__list-items:not(:last-child) {
  padding-bottom: 1rem;
}
.container__list-items a,
.container__list-items a:visited a:link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.container__list-items a:hover {
  text-decoration: underline;
}
.container__list-items--dark-blue {
  color: #253353;
  font-weight: 300;
  font-size: 1rem;
}
@media (max-width: 87.5em) {
  .container__list-items--dark-blue {
    font-size: 0.9rem;
  }
}
@media (max-width: 75em) {
  .container__list-items--dark-blue {
    font-size: 0.8rem;
  }
}
.container__list-items--dark-blue a,
.container__list-items--dark-blue a:visited a:link {
  text-decoration: none;
  cursor: pointer;
}
.container__list-items--dark-blue a:hover {
  text-decoration: underline;
}
.container__list-items--dark-blue:not(:last-child) {
  padding-bottom: 1rem;
}

.socials-container {
  width: 90%;
  background-color: #b8dbf1;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
}
@media (max-width: 75em) {
  .socials-container {
    width: 100%;
    padding: 1rem 1rem;
  }
}

.copyright__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
}
@media (max-width: 37.5em) {
  .copyright__container {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.copyright__container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-container {
  text-align: center;
  display: flex;
  border: 1px solid #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 8px;
}
@media (max-width: 37.5em) {
  .wrap-container {
    padding: 1rem;
    flex-wrap: wrap;
    width: 100%;
  }
}

.contaniner-1__list {
  width: 100%;
  display: flex;
  text-align: center;
}
.contaniner-1__list-head {
  padding: 1rem;
}
@media (max-width: 37.5em) {
  .contaniner-1__list-head {
    text-align: start;
  }
}
.contaniner-1__list-item {
  font-weight: 300;
  display: table-cell;
  width: auto;
  text-align: center;
  padding-top: 0.5rem;
}
@media (max-width: 37.5em) {
  .contaniner-1__list-item {
    font-size: 0.8rem;
    text-align: start;
    display: flex;
  }
}
.contaniner-1__list-item:not(:last-child) {
  padding-right: 2rem;
}
@media (max-width: 37.5em) {
  .contaniner-1__list-item:not(:last-child) {
    padding-right: 0;
  }
}

.copyright__container-2 {
  padding: 1rem;
  text-align: center;
  font-weight: 300;
}
@media (max-width: 37.5em) {
  .copyright__container-2 {
    text-align: start;
  }
}

.container__copy-icon {
  display: flex;
  gap: 2px;
}
.container__copy-icon svg {
  flex-shrink: 0;
}
.container__copy-icon-2 {
  padding-top: 0.3rem;
}

#content1::after {
  content: "\a";
  white-space: pre;
}

.header__bg {
  background-color: #fff;
}

.header {
  padding: 2rem 1rem;
  background-color: #fff;
  width: 100%;
}
@media (min-width: 106.25em) {
  .header .img-fdic__small-screens {
    display: none;
  }
}
@media (max-width: 106.25em) {
  .header .img-fdic__small-screens {
    display: none;
  }
}
@media (max-width: 37.5em) {
  .header {
    padding: 0;
  }
  .header .img-fdic__small-screens {
    display: block;
    padding: 1rem 1rem;
    width: 100%;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 56.25em) {
  .header__nav {
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
  }
}
@media (max-width: 37.5em) {
  .header__nav {
    flex-direction: row-reverse;
    padding: 1rem;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 87.5em) {
  .header__container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 75em) {
  .header__container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 37.5em) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 106.25em) {
  .header__logo .img-fdic__small-screens {
    display: none;
  }
  .header__logo .img__small-screens {
    display: none;
  }
}
@media (max-width: 106.25em) {
  .header__logo {
    width: 25%;
    gap: 0.25rem;
  }
  .header__logo .img__small-screens {
    display: none;
  }
}
@media (max-width: 87.5em) {
  .header__logo {
    width: 100%;
    gap: 0.25rem;
  }
}
@media (max-width: 75em) {
  .header__logo {
    width: 40%;
    gap: 1rem;
  }
}
@media (max-width: 37.5em) {
  .header__logo {
    display: flex;
    align-items: start;
    padding: 0 1rem;
  }
  .header__logo .img__big-screens {
    display: none;
  }
  .header__logo .img-fdic__big-screens {
    display: none;
  }
  .header__logo .img__small-screens {
    display: block;
  }
}
.header__logo-img {
  display: block;
}
.header__logo-img img {
  width: 100%;
}

.header__nav-list-links {
  display: flex;
}
@media (max-width: 37.5em) {
  .header__nav-list-links {
    display: none;
  }
}
.header__nav-list-links.active {
  display: block;
}
@media (max-width: 37.5em) {
  .header__nav-list-links.active {
    position: absolute;
    top: 11rem;
    left: 0;
    width: 100%;
    background-color: #253353;
    z-index: 20;
  }
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  flex-shrink: 1;
  border-radius: 8px;
}
@media (max-width: 106.25em) {
  .header__nav-list {
    gap: 0.5rem;
  }
}
@media (max-width: 87.5em) {
  .header__nav-list {
    gap: 0.1rem;
  }
}
@media (max-width: 75em) {
  .header__nav-list {
    gap: 0.5rem;
  }
}
@media (max-width: 37.5em) {
  .header__nav-list {
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
  }
}

.header__nav-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font: inherit;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 106.25em) {
  .header__nav-toggle {
    gap: 0.5rem;
  }
}
@media (max-width: 75em) {
  .header__nav-toggle {
    font-size: 0.8rem;
  }
}
@media (max-width: 37.5em) {
  .header__nav-toggle {
    width: 100%;
    background-color: #253353;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__nav-toggle[data-dropdown-toggle]::after {
  content: "";
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
@media (max-width: 37.5em) {
  .header__nav-toggle[data-dropdown-toggle]::after {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
}
.header__nav-toggle.active::after {
  transform: rotate(-135deg);
}

.button.contact-2 {
  display: none;
}
@media (max-width: 37.5em) {
  .button.contact-2 {
    background-color: #c2002f;
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 64px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 0.6rem;
  }
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 106.25em) {
  .header__actions {
    gap: 0.5rem;
    flex-shrink: 1;
  }
}
@media (max-width: 87.5em) {
  .header__actions {
    flex-shrink: 1;
  }
}
@media (max-width: 37.5em) {
  .header__actions {
    gap: 1rem;
    padding: 1rem;
  }
}

.button.contact,
.button.login {
  padding: 1rem 2rem 1rem 2rem;
}
@media (max-width: 106.25em) {
  .button.contact,
  .button.login {
    font-size: 1rem;
    padding: 1rem;
  }
}
@media (max-width: 87.5em) {
  .button.contact,
  .button.login {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-size: 1rem;
  }
}
@media (max-width: 75em) {
  .button.contact,
  .button.login {
    font-size: 0.8rem;
  }
}
@media (max-width: 87.5em) {
  .button.contact svg,
  .button.login svg {
    width: 1rem;
  }
}

.button.login[data-dropdown-toggle]::after {
  content: "";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
@media (max-width: 87.5em) {
  .button.login[data-dropdown-toggle]::after {
    border-width: 0 2px 2px 0;
  }
}
@media (max-width: 37.5em) {
  .button.login[data-dropdown-toggle]::after {
    display: none;
  }
}
.button.login.active::after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
}
@media (max-width: 37.5em) {
  .button.login.active::after {
    display: none;
  }
}
@media (max-width: 37.5em) {
  .button.login {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 37.5em) {
  .button.contact {
    display: none;
  }
}

.header__button-search {
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  border: none;
  border-radius: 100px;
  background-color: #b8dbf1;
  cursor: pointer;
}
.header__button-search .header__button-search-close-btn {
  display: none;
}
@media (max-width: 37.5em) {
  .header__button-search {
    display: none;
  }
}
.header__button-search.active {
  background-color: #fff;
}
.header__button-search.active .header__button-search-btn {
  display: none;
}
.header__button-search.active .header__button-search-close-btn {
  display: block;
}

.header__dropdown {
  display: none;
  position: absolute;
  background: #253353;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  padding: 1rem;
  list-style: none;
  z-index: 10;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  width: 250px;
}
.header__dropdown.active {
  display: block;
}
@media (max-width: 37.5em) {
  .header__dropdown {
    width: 95%;
    background-color: #1c2740;
    border: none;
  }
}

.header__dropdown-item {
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}
.header__dropdown-item-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 0.7rem 1.5rem;
  border: none;
  background-color: #253353;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
}
@media (max-width: 37.5em) {
  .header__dropdown-item-btn {
    width: 100%;
    background-color: #1c2740;
  }
}
.header__dropdown-item-btn[data-dropdown-toggle]::after {
  content: "";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
}
.header__dropdown-item-btn:hover {
  background-color: #fff;
  color: #253353;
  border-radius: 4px;
}
.header__dropdown-item-btn:hover::after {
  border: solid #253353;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}
@media (max-width: 37.5em) {
  .header__dropdown-item {
    width: 100%;
    background-color: #1c2740;
  }
}

.header__dropdown-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  text-align: left;
}

.header__dropdown-item a:hover {
  color: #253353;
}

.header__nav-item-form {
  width: 100%;
}
.header__nav-item-form .search__form-input {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0;
}
.header__nav-item-form .input__button {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}
@media (min-width: 106.25em) {
  .header__nav-item-form {
    display: none;
  }
}
@media (max-width: 106.25em) {
  .header__nav-item-form {
    display: none;
  }
}
@media (max-width: 37.5em) {
  .header__nav-item-form {
    display: block;
  }
}

.doropdown__submenu-container {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #253353;
  border-radius: 8px;
  width: 200px;
  display: none;
}
.doropdown__submenu-container.active {
  display: block;
}

.dropdown__submenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
  gap: 1rem;
}

.dropdown__submenu-item {
  text-align: start;
  color: #fff;
}

.login__container {
  display: none;
  position: absolute;
  top: 6.8rem;
  right: 8.2rem;
  background: #253353;
  margin-top: 0.5rem;
  padding: 1rem;
  z-index: 10;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  width: 300px;
}
@media (max-width: 106.25em) {
  .login__container {
    top: 6rem;
    right: 5rem;
  }
}
@media (max-width: 87.5em) {
  .login__container {
    top: 6rem;
    right: 4rem;
  }
}
@media (max-width: 75em) {
  .login__container {
    top: 10rem;
    right: 11rem;
    flex-shrink: 1;
  }
}
@media (max-width: 37.5em) {
  .login__container {
    width: 100%;
    top: 11rem;
    right: 0;
  }
}
.login__container.active {
  display: block;
}

@media (max-width: 37.5em) {
  .login__form {
    padding: 1rem;
  }
}

#dropdown-select {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.4rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 37.5em) {
  #dropdown-select {
    padding: 0.8rem;
  }
}

.dropdown__labels {
  display: block;
  color: #fff;
  margin-bottom: 0.8rem;
}

.form__input {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.4rem;
  margin-bottom: 0.8rem;
}
@media (max-width: 37.5em) {
  .form__input {
    padding: 1rem;
  }
}

.form__forgotpassword {
  border: none;
  background-color: inherit;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.8rem;
}

.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__button {
  padding: 1rem 6rem 1rem 6rem;
  border: 1px solid #fff;
  background: #253353;
  border-radius: 64px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.8rem;
}
@media (max-width: 37.5em) {
  .form__button {
    width: 100%;
  }
}

.form__subscribe {
  color: #fff;
}
.form__subscribe a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 37.5em) {
  .form__subscribe {
    padding: 1rem;
  }
}

.search__form {
  position: absolute;
  width: 80%;
  margin-right: 1rem;
  display: none;
  align-items: center;
  justify-content: end;
}
@media (min-width: 106.25em) {
  .search__form {
    right: 5.5rem;
  }
}
@media (max-width: 106.25em) {
  .search__form {
    right: 3rem;
  }
}
@media (max-width: 75em) {
  .search__form {
    right: 2rem;
  }
}
.search__form.active {
  display: flex;
  padding-top: 0.5rem;
}
@media (max-width: 37.5em) {
  .search__form.active {
    display: none;
  }
}

.search__form-input {
  width: 60%;
  padding: 1rem 1rem;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 8px;
}

.input__button {
  border: none;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  border: none;
  border-radius: 100px;
  background-color: #b8dbf1;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  position: relative;
  text-align: center;
}
.menu-toggle, .menu-toggle::before, .menu-toggle::after {
  width: 1.5rem;
  height: 3px;
  background-color: #253353;
  display: inline-block;
  border-radius: 3px;
}
.menu-toggle::before, .menu-toggle::after {
  content: "";
  position: absolute;
  left: -0.1rem;
}
.menu-toggle::before {
  top: -0.5rem;
}
.menu-toggle::after {
  top: 0.4rem;
}
@media (min-width: 106.25em) {
  .menu-toggle {
    display: none;
  }
}
@media (max-width: 106.25em) {
  .menu-toggle {
    display: none;
  }
}
@media (max-width: 75em) {
  .menu-toggle {
    display: none;
  }
}
@media (max-width: 37.5em) {
  .menu-toggle {
    display: block;
  }
}

.nav__container {
  position: absolute;
  width: 100%;
  background-color: #253353;
  left: 0;
  top: 11rem;
  padding: 1rem;
}

.button {
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 64px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 0.6rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background: #253353;
}
.button--2 {
  background: #c2002f;
}
.button--3 {
  border: 1px solid #fff;
}
.button--4 {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 1rem 2rem;
}
.button--5 {
  padding: 1rem 2rem;
  background: #c2002f;
}

.hero__bg {
  position: relative;
  background-image: linear-gradient(100deg, #253353 0%, rgba(37, 51, 83, 0.8) 60%, transparent 70%);
}
@media (max-width: 106.25em) {
  .hero__bg {
    background-image: linear-gradient(100deg, #253353 0%, rgba(37, 51, 83, 0.6) 65%, transparent 80%);
  }
}
@media (max-width: 87.5em) {
  .hero__bg {
    background-image: linear-gradient(100deg, #253353 0%, rgba(37, 51, 83, 0.5) 75%, transparent 90%);
  }
}
@media (max-width: 37.5em) {
  .hero__bg {
    background-image: linear-gradient(0deg, #253353 0%, rgba(37, 51, 83, 0.9) 45%, rgba(0, 0, 0, 0.2) 65%);
  }
}

.hero__img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.hero__content {
  max-width: 60rem;
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 37.5em) {
  .hero__content {
    padding: 15rem 2.5rem 2.5rem 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .hero__content-text {
    text-align: center;
  }
}

.content-text__heading {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 2.5rem;
  font-weight: 600;
  width: 60rem;
}
@media (max-width: 75em) {
  .content-text__heading {
    max-width: 35rem;
    font-size: 3rem;
    font-weight: 500;
  }
}
@media (max-width: 56.25em) {
  .content-text__heading {
    max-width: 30rem;
    font-size: 2rem;
    font-weight: 500;
  }
}
@media (max-width: 37.5em) {
  .content-text__heading {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
  }
}

.content-text__paragaph {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
  max-width: 40rem;
}
@media (max-width: 56.25em) {
  .content-text__paragaph {
    max-width: 30rem;
    font-size: 1rem;
  }
}
@media (max-width: 37.5em) {
  .content-text__paragaph {
    max-width: 100%;
    font-size: 1rem;
  }
}

.hero__content-buttons {
  display: flex;
  gap: 1.2rem;
}
@media (max-width: 37.5em) {
  .hero__content-buttons {
    flex-direction: column;
  }
}

.blurbs__content {
  width: 100%;
  background-color: #fff;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5rem;
  border-radius: 24px;
  box-shadow: 0.5rem 0.5rem 10px rgba(0, 0, 0, 0.2);
  display: flex;
}
@media (max-width: 56.25em) {
  .blurbs__content {
    padding: 2rem;
    flex-direction: column;
  }
}
@media (max-width: 37.5em) {
  .blurbs__content {
    flex-direction: column;
    padding: 1rem;
    box-shadow: none;
  }
}

.content__left {
  width: 40%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 75em) {
  .content__left {
    width: 60%;
  }
}
@media (max-width: 56.25em) {
  .content__left {
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  .content__left {
    width: 100%;
    padding: 1rem 1rem;
  }
}
.content__left-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  border: 1px solid rgb(217, 217, 217);
}

.content__right {
  width: 60%;
  padding: 1.5rem 4rem;
}
@media (max-width: 56.25em) {
  .content__right {
    padding: 1rem 1rem;
    width: 100%;
  }
  .content__right button {
    justify-self: center;
    width: 80%;
  }
}
@media (max-width: 37.5em) {
  .content__right {
    width: 100%;
    padding: 1rem 1rem;
  }
  .content__right button {
    width: 100%;
  }
}

.content__right-heading {
  color: #253353;
}
.content__right-heading .heading {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (max-width: 56.25em) {
  .content__right-heading .heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 37.5em) {
  .content__right-heading .heading {
    font-size: 2rem;
  }
}
.content__right-heading .text {
  font-size: 1rem;
  font-weight: 300;
}
.content__right-heading .text span {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 37.5em) {
  .content__right-heading .text {
    color: black;
  }
}

.blurbs {
  display: flex;
  margin-top: 1.5rem;
  gap: 5rem;
}
@media (max-width: 37.5em) {
  .blurbs {
    flex-direction: column;
    gap: 0;
  }
}

.blurbs-left {
  display: flex;
  flex-direction: column;
}

.blurbs-right {
  display: flex;
  flex-direction: column;
}

.blurb__name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #253353;
  font-weight: 600;
}
@media (max-width: 37.5em) {
  .blurb__name {
    color: black;
  }
}

.blurb__text {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 300;
  color: #253353;
}
@media (max-width: 37.5em) {
  .blurb__text {
    color: black;
  }
}

.banner__content {
  display: flex;
  margin-bottom: 4rem;
}
@media (max-width: 56.25em) {
  .banner__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.banner__content-left {
  width: 60%;
  padding: 0 2rem;
}
@media (max-width: 56.25em) {
  .banner__content-left {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.content-left__img {
  width: 100%;
}

.banner__content-right {
  width: 40%;
  padding-top: 7rem;
}
@media (max-width: 75em) {
  .banner__content-right button {
    font-size: 1rem;
    padding: 1.5rem;
  }
}
@media (max-width: 56.25em) {
  .banner__content-right button {
    width: 90%;
  }
}
@media (max-width: 87.5em) {
  .banner__content-right {
    padding-top: 2.5rem;
  }
}
@media (max-width: 75em) {
  .banner__content-right {
    padding-top: 2rem;
  }
}
@media (max-width: 56.25em) {
  .banner__content-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.content-right__head {
  margin-bottom: 2rem;
}
@media (max-width: 56.25em) {
  .content-right__head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .content-right__head {
    margin-bottom: 0;
  }
}

.content-right__heading {
  font-size: 4rem;
  color: #253353;
  margin-bottom: 2rem;
  font-weight: 600;
  width: 90%;
}
@media (max-width: 75em) {
  .content-right__heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 37.5em) {
  .content-right__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.content-right__heading-small {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
@media (max-width: 75em) {
  .content-right__heading-small {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}

.content-right__text {
  width: 90%;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 75em) {
  .content-right__text {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
}

.cards__bg {
  background-color: #b8dbf1;
  margin-bottom: 4rem;
}

.cards__content {
  padding: 7rem 2rem;
}
@media (max-width: 37.5em) {
  .cards__content {
    padding: 4rem 0;
  }
}

.content__head {
  margin-bottom: 4rem;
}
@media (max-width: 37.5em) {
  .content__head {
    margin-bottom: 2rem;
  }
}

.head__heading {
  font-size: 4rem;
  font-weight: 600;
  color: #253353;
}
@media (max-width: 37.5em) {
  .head__heading {
    font-size: 2rem;
  }
}

.cards__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 56.25em) {
  .cards__container {
    flex-direction: column;
  }
}
@media (max-width: 37.5em) {
  .cards__container {
    gap: 1.5rem;
  }
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card__content {
  padding: 2rem;
}
.card__content *:not(:last-child):not(:first-child) {
  margin-bottom: 2rem;
}
.card__content svg {
  margin-bottom: 1.5rem;
}
@media (max-width: 37.5em) {
  .card__content {
    padding: 2rem 1.5rem;
  }
}

.card__heading {
  font-size: 2rem;
  color: #253353;
}
@media (max-width: 68.75em) {
  .card__heading {
    font-size: 1.5rem;
  }
}

.card__text {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  color: black;
  font-weight: 300;
}

.card__button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.card__button::after {
  content: "";
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-left: 8px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.carousel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
@media (max-width: 37.5em) {
  .carousel__header {
    margin-bottom: 2.5rem;
  }
}

.carousel__heading {
  font-size: 3rem;
  font-weight: 600;
  color: #253353;
}
@media (max-width: 56.25em) {
  .carousel__heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 37.5em) {
  .carousel__heading {
    font-size: 2rem;
  }
}

.buttons__container {
  display: flex;
  gap: 8px;
}
@media (max-width: 37.5em) {
  .buttons__container {
    display: none;
  }
}

.cards {
  border-radius: 24px;
}

.card__image {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 24px;
  overflow: hidden;
}

.card__container {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}
.card__container .card__content {
  height: 100%;
  position: relative;
}
.card__container .card__content .article__container {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: end;
  margin-bottom: 15rem;
}
.card__container .card__content .article__container .article__button {
  font-family: "Montserrat", sans-serif;
  padding: 1rem 1rem;
  letter-spacing: 3px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.card__container .card__content::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, #253353 0%, rgba(37, 51, 83, 0.9) 45%, rgba(0, 0, 0, 0.2) 65%);
  overflow: hidden;
  border-radius: 24px;
}
.card__container .card__content .card__heading {
  position: relative;
  z-index: 10;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 37.5em) {
  .card__container .card__content .card__heading {
    font-size: 1.5rem;
  }
}
.card__container .card__content .card__text {
  position: relative;
  color: #fff;
  z-index: 10;
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
@media (max-width: 37.5em) {
  .card__container .card__content .card__text {
    font-size: 1rem;
  }
}
.card__container .card__content .card__button {
  position: relative;
  z-index: 10;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}
.card__container .card__content .card__button::after {
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-left: 8px;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 16px;
  border-radius: 24px;
  background-color: transparent;
  border: 2px solid #253353;
  transition: all 0.2s ease-in;
}

.swiper-pagination-bullet-active {
  background-color: #253353;
  width: 54px;
  height: 16px;
  border-radius: 24px;
  border: 2px solid #253353;
}/*# sourceMappingURL=style.css.map */