.blurbs__content {
  width: 100%;
  background-color: #fff;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5rem;
  border-radius: 24px;
  box-shadow: 0.5rem 0.5rem 10px rgba(black, 0.2);
  display: flex;

  @include respond(big-phone) {
    padding: 2rem;
  }

  @include respond(phone) {
    flex-direction: column;
    padding: 1rem;
  }
}

.content__left {
  width: 40%;
  overflow: hidden;
  position: relative;

  @include respond(big-phone) {
    width: 60%;
  }

  @include respond(phone) {
    width: 100%;
    padding: 1rem 1.5rem;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    border: 1px solid rgba(217, 217, 217, 1);
  }
}
.content__right {
  width: 60%;
  padding: 1.5rem 4rem;

  @include respond(phone) {
    width: 100%;
    padding: 1rem 1.5rem;
    button{
        width: 100%;
    }
  }
}

.content__right-heading {
  color: $color-primary;

  .heading {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
  .text {
    font-size: 1rem;
    font-weight: 300;
    span {
      text-decoration: underline;
      cursor: pointer;
    }

    @include respond(phone) {
        color: black;
    }
  }
}

.blurbs {
  display: flex;
  margin-top: 1.5rem;
  gap: 5rem;

        
  @include respond(phone){
    flex-direction: column;
    gap: 0;
    
  }
}

.blurbs-left {
  display: flex;
  flex-direction: column;
}

.blurbs-right {
  display: flex;
  flex-direction: column;

        
}

.blurb__name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: $color-primary;
  font-weight: 600;
  @include respond(phone){
   color: black; 
  }
}

.blurb__text {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 300;
  color: $color-primary;

        
  @include respond(phone){
   color: black;
    
  }
}

