.footer__bg {
  background-color: $color-primary;
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  background-color: $color-primary;
  font-family: "Outfit", sans-serif;
  color: #fff;

  &__logo {
    grid-row: span 4 / span 4;
    padding-top: 4rem;
    padding-left: 5rem;
  }

  &__links {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    display: flex;
    flex-direction: row;
  }

  &__copyright {
    grid-column: span 5 / span 3;
    grid-row-start: 5;
  }

  &__socials {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 1;
    padding-top: 3rem;
  }
}

.logo__container {
  padding-right: 4.1rem;

  &:not(:last-child) {
    padding-bottom: 13rem;
  }

  &-text {
    font-size: 1rem;
    font-weight: 300;
  }
}

.links__container {
  padding-top: 4rem;
  width: 100%;

  &-heading {
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-primary-light;
    text-align: left;

    &--dark-blue {
      color: $color-primary;
    }
  }
}

.container__list {
  list-style: none;
  margin-top: 2rem;
  text-align: left;

  &-items {
    font-size: 1rem;
    font-weight: 200;
    &:not(:last-child) {
      padding-bottom: 1rem;
    }
    a,
    a:visited a:link {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }
    a:hover {
      text-decoration: underline;
    }

    &--dark-blue {
      color: $color-primary;
      font-weight: 300;
      font-size: 1rem;
      a,
      a:visited a:link {
        text-decoration: none;
        cursor: pointer;
      }
      a:hover {
        text-decoration: underline;
      }

      &:not(:last-child) {
        padding-bottom: 1rem;
      }

      &-span {
        box-decoration-break: clone;
      }
    }
  }
}

.socials-container {
  width: 90%;
  background-color: $color-primary-light;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
}

.copyright__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
}

.copyright__container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 8px;
}
.contaniner-1__list {
  width: 100%;
  display: inline-block;
  text-align: center;

  &-head {
    padding: 1rem;
  }
  &-item {
    font-weight: 300;
    display: table-cell;
    width: auto;
    text-align: center;
    padding-top: 0.5rem;
    &:not(:last-child) {
      padding-right: 2rem;
    }
  }
}

.copyright__container-2 {
  padding: 1rem;
  text-align: center;
  font-weight: 300;
}

.container__copy-icon {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}
